@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 250, 250;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .section-padding {
    @apply px-4 sm:px-6 lg:px-8;
  }

  .container-custom {
    @apply container mx-auto lg:px-5;
  }

  .gradient-bg {
    @apply bg-linear-to-br from-gray-50 to-white;
  }
}